<h2>Create a new appointment</h2>
<form  class="appointment-form">
    <label for="appointment-form" class="form-label">
        Fill in the fields and create a new appointment 
    </label>
    <input
        class="title"
        type="text"
        ngModel
        placeholder="Please add a title"
    />
    <input
        class="participant"
        type="text"
        ngModel
        placeholder="Other participant"
    />
    <input
        class="description"
        type="text"
        ngModel
        placeholder="Description"
    />
    <input
      type="datetime-local"
      min="2020-01-01T00:00"
      max="2023-12-31T00:00"
    />
    <button
      routerLink="choose_available"   
    >
        See available times
    </button>

</form>