<div class="timetable-container">

    <div class="calendar-container">
        <mat-card class="demo-inline-calendar-card">
            <mat-calendar [(selected)]="todayDate"></mat-calendar>
        </mat-card>
    </div>

    <div class="time-slots">

        <!-- <mat-select #selector placeholder="Choose an Hour" multiple> -->
        <div class="hours-container">
            <h1>Hours Available</h1>
            <!-- <mat-form-field> -->
            <mat-label>Hours</mat-label>
            <div class="hours-slots">
                <mat-option *ngFor="let hour of hours" [value]="hour">
                    <div class="hour hour-{{hour}}">
                        {{ hour }}
                    </div>
                </mat-option>
            </div>
        </div>
        <!-- <mat-radio-group> -->
        <div class="minutes-container">
            <h1>Minutes Available in {{ todayDate }}</h1>
            <!-- <mat-form-field> -->
            <mat-label>Minutes</mat-label>
            <div class="minutes-slots">
                <mat-radio-button *ngFor="let minute of minutes" [value]="minute"
                    style="display: block; padding: 12px 12px 12px 32px;">
                    <div class="minute minute-{{minute}}">
                        {{ minute | number: '1.2-2' }}
                    </div>
                </mat-radio-button>
            </div>
        </div>
        <!-- </mat-radio-group> -->
        <!-- </mat-select> -->

        <!-- <mat-select [(ngModel)]="selectedHour" #hourSelect [keepOpen]="true">
            <mat-option *ngFor="let hour of hours" [value]="hour">{{ hour }}</mat-option>
        </mat-select>

        <mat-label>Minute</mat-label>
        <mat-select [(ngModel)]="selectedMinute" #minuteSelect [keepOpen]="isMinuteSelectOpen">
            <mat-option *ngFor="let minute of minutes" [value]="minute">{{ minute }}</mat-option>
        </mat-select> -->
        <!-- </mat-form-field> -->
    </div>
</div>