<div class="timetable-container">

    <div class="calendar-and-appointiments-container">
        <div class="calendar-container">
            <mat-card class="demo-inline-calendar-card">
                <mat-calendar
                appDateSelectioHandler
                (_userSelection)="(selectDay($event))"
                [(selected)]="todayDate"
                ></mat-calendar>
            </mat-card>
            <button
                class="book"
                [routerLink]="['details/']"
            >
                Book
            </button>
            <button
                class="book"
                [routerLink]="['details/']"
            >
                Reschedule
            </button>
        </div>

        <div class="hours-container">
            <h1>Hours Available</h1>
            (Click and drag or select one by one)
        <!-- <mat-form-field> -->
        <mat-label>Hours</mat-label>
        <!-- (click)="deselectIfSelected($event)" -->
        <div
            class="hours-slots"
        >
        <!-- (click)="reschedule($event)" -->
        <mat-option
            *ngFor="let appointment of listOfAppointments.value"
            (onSelectionChange)="reschedule($event)"
            [value]="appointment"
        >
        <div
            class="hour hour-{{ appointment.id| number: '1.2-2' }}"
        >
            {{ appointment.title | slice:0:25 }}
        </div>
        </mat-option>
        <!-- </mat-select> -->
        </div>
    </div>

    <div class="time-slots">
        <!-- <mat-select #selector placeholder="Choose an Hour" multiple> -->
        <div class="hours-container">
                <h1>Hours Available</h1>
                (Click and drag or select one by one)
            <!-- <mat-form-field> -->
            <mat-label>Hours</mat-label>
            <!-- (click)="deselectIfSelected($event)" -->
            <div
              (mousedown)="startSelectingHours($event)"
              (mouseleave)="finishSelectingHours()"
              (mouseup)="finishSelectingHours()"
              class="hours-slots"
            >
            <mat-option
                (onSelectionChange)="change($event)"
                *ngFor="let hour of hours"
                [value]="hour"
                appHandleSelecting
                (startNewSelection)="startNewSelectionHours($event)"
                (addToSelection)="selectHourItem($event)" 
                [selected]="(selectedHours)"
                [cannotBeSelected]="(cannotBeSelectedHours)"
                [isSelectingSub]="(isSelectingHoursSub)"
                disabled="true"
            >
                <div
                    class="hour hour-{{ hour  | number: '1.2-2' }}"
                >
                    {{ hour }}
                </div>
                </mat-option>
            <!-- </mat-select> -->
            </div>
        </div>
        <!-- <mat-radio-group> -->
        <div class="minutes-container">
            <h1>Minutes Available at {{ todayDate }}</h1>
            (Click and drag or select one by one)
            <!-- <mat-form-field> -->
            <mat-label>Minutes</mat-label>
            <div
              (mousedown)="startSelectingMinutes($event)"
              (mouseleave)="finishSelectingMinutes()"
              (mouseup)="finishSelectingMinutes()"
              class="minutes-slots"
            >
                <mat-option
                  *ngFor="let minute of minutes"
                  [value]="minute"
                  style="display: flex; padding: 12px 12px 12px 32px;"
                  appHandleSelecting
                  (startNewSelection)="startNewSelectionMinutes($event)"
                  (addToSelection)="selectMinuteItem($event)" 
                  [selected]="(selectedMinutes)"
                  [cannotBeSelected]="(cannotBeSelectedMinutes)"
                  [isSelectingSub]="(isSelectingMinutesSub)"
                  disabled="true"
                >
                    <div class="minute minute-{{minute}}">
                        {{ minute | number: '1.2-2' }}
                    </div>
                </mat-option>
            </div>
        </div>
    </div>
</div>