<div class="timetable-container">

    <div class="calendar-container">
        <mat-card class="demo-inline-calendar-card">
            <mat-calendar [(selected)]="todayDate"></mat-calendar>
        </mat-card>
        <button
          class="book"
          [routerLink]="['details/']"
        >
            Reschedule
        </button>
    </div>

    <div class="time-slots">
            <div class="hours-container">
                <h1>Booked Hours</h1>
                <mat-label>Hours</mat-label>
                <div
                    class="hours-slots"
                    cdkDropList
                    (cdkDropListDropped)="drop($event)"
                >
                    <mat-option
                        *ngFor="let hour of hours"
                        [value]="hour"
                        cdkDrag
                        handleRescheduling
                        [selected]="(selectedHours)"
                    >
                <div
                    class="hour hour-{{hour}}"
                >
                    {{ hour }}
                </div>
                </mat-option>
            </div>
        </div>
    </div>
</div>
<button class="delete-appointiment">Delete Appointiment</button>
