<div class="timetable-container">

    <div class="calendar-container">
        <mat-card class="demo-inline-calendar-card">
            <mat-calendar [(selected)]="todayDate"></mat-calendar>
        </mat-card>
        <button
          class="book"
          [routerLink]="['details/']"
        >
            Reschedule
        </button>
    </div>

    <div class="time-slots">
        <!-- <mat-select #selector placeholder="Choose an Hour" multiple> -->
            <div class="hours-container">
                <h1>Hours Available</h1>
                (Click and drag or select one by one)
            <!-- <mat-form-field> -->
            <mat-label>Hours</mat-label>
            <!-- (click)="deselectIfSelected($event)" -->
            <div
              class="hours-slots"
            >
            <mat-option
                *ngFor="let hour of hours"
                [value]="hour"
            >
                <div
                    class="hour hour-{{hour}}"
                >
                    {{ hour }}
                </div>
                </mat-option>
            <!-- </mat-select> -->
            </div>
        </div>
        <!-- <mat-radio-group> -->
    </div>
</div>
<button class="delete-appointiment">Delete Appointiment</button>
